
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Caveat', cursive;
    background: rgb(237, 173, 100);
}

main{
    padding: 16px;
}

footer{
    padding: 24px 0px;
    background-color: rgb(0, 110, 255);
}

nav{
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 16px solid black  ;
    font-size: 25px;
    background-color: rgb(0, 77, 128);
}

div > img {
    height: 200px
}

.tacos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto 300px;
    grid-gap: 10px;
}

.tacos {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
